footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
}
.siteFooter{
    color: white;
    background-color: #000000;
    padding: 32px;
    padding-bottom: 16px;
    padding-top: 5px;
}
.liste{
    list-style: none;
}

a{
    text-decoration: none;
    color: blue;
}